/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 */
 //= require_tree
 //= require_self

 html {
   font-size: 10px;

 }

 .navbar-default {

 }

 .navbar-default > li {
   display: inline-block;
   margin-top: 30px;
 }
 .navbar-default > li + li {
   margin-left: 20px;
 }

 .navbar-nav >li > a{
   text-decoration: none;
 }

 body {
   font-family: 'Open Sans', sans-serif;
 }

 .inner{
   padding: 60px;
 }
 #menu{
   display: none;
 }


@media(max-width:768px){
    #menu{
      display: block;
    }
    .inner{
      padding:60px 20px 0 20px;
    }
    nav{
      width:100%;
    }
    .navbar-brand{
      float:left;
    }

    li{
      a{
        font-size: 1.1em;
      }
    }
    h1{
      font-size: 300%;
    }
    h2{
      font-size: 200%;
    }

    p{
      font-size: 1.1em;
    }

    fieldset{
      width:100%;
    }
    nav .glyphicon-menu-hamburger{
      float: right;
      font-size: 2em;
      padding: 10px 20px;
    }

}
