// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home{
  text-align: center;
}
h1{
  font-size: 5.7em
}

.btn.btn-default{
  display: inline-block;
  width:260px;
  height:59px;
  text-align: center;
  font-size: 1.3em;
  padding:17px;
  color:black;
  text-decoration: none;
  transition: border-color 0.3s ease-out,
  color 0.3s ease-out,text-shadow 0.3s ease-out,background-color 0.3s ease-out;
}

.btn.btn-default:hover{

  color: white;
  transition: border-color 0.3s ease-in,
  color 0.3s ease-in,text-shadow 0.3s ease-in,background-color 0.3s ease-in;
}
